@model CreateTaskViewModel

@{
    ViewData["Title"] = "Add new task";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">Agregar tarea</h1>

            <div asp-validation-summary="All" class="text-danger"></div>

            <form asp-controller="Home" asp-action="Add" class="input-group mb-3">
                <div class="mb-3 d-flex w-100">
                    @* <label asp-for="Name" class="form-label">Nombre</label> *@
                    <input type="text" asp-for="Title" class="form-control" placeholder="Añadir nueva tarea">
                    <button class="btn btn-primary" type="submit">Añadir</button>
                </div>
               <div>
                    <span asp-validation-for="Title" class="text-danger"></span>
               </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}